.partners {
    background: url(../img/partners_pics/bg_partners.png) no-repeat;
    padding: 140px 0 139px;
    &_logos-row {
        display: flex;
        justify-content: center;
        align-items: center;
        &_link {
            margin: 0 90px 0 0;
            &_logo {
                display: block;
                width: unset;
                height: unset;
            }
            &:last-child {
                margin: 0;
            }
            &:hover {
                transform: scale(1.15);
            }
            &:active {
                transform: scale(1.15);
                filter: sepia(100%);
            }
        }
    }
}

@media(max-width:480px) {
    .partners {
        padding: 30px 0;
        &_logos-row {
            flex-wrap: wrap;
            &_link {
                margin: 5px 10px;
                &_logo {
                    width: 150px;
                }
                &:last-child {
                    margin: 5px 10px;
                }
            }
        }
    }
}